<!doctype html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico?v=2">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/fonts/KaTeX_AMS-Regular.woff2" as="font">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<div id="root"></div>

<% if (htmlWebpackPlugin.options.env.sentry) { %>
    <!-- Load Sentry -->
    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
    <script>
      Raven.config(<%= JSON.stringify(htmlWebpackPlugin.options.env.sentry.dsn) %>, {
        environment: 'prototype',
        tags: {site: '<%= htmlWebpackPlugin.options.site %>'},
        ignoreErrors: ['top.GLOBALS', 'originalCreateNotification', 'canvas.contentDocument', 'MyApp_RemoveAllHighlights', 'http://tt.epicplay.com', 'Can\'t find variable: ZiteReader', 'jigsaw is not defined', 'ComboSearch is not defined', 'http://loading.retry.widdit.com/', 'atomicFindClose', 'fb_xd_fragment', 'bmi_SafeAddOnload', 'EBCallBackMessageReceived', 'conduitPage'],
        ignoreUrls: [/graph\.facebook\.com/i, /connect\.facebook\.net\/en_US\/all\.js/i, /eatdifferent\.com\.woopra-ns\.com/i, /static\.woopra\.com\/js\/woopra\.js/i, /extensions\//i, /^chrome:\/\//i, /127\.0\.0\.1:4001\/isrunning/i,  /webappstoolbarba\.texthelp\.com\//i,/metrics\.itunes\.apple\.com\.edgesuite\.net\//i
        ]
      }).install()</script>
<% } %>

<% if (htmlWebpackPlugin.options.env.smartlook) { %>
    <!-- Load Smartlook -->
    <script type="text/javascript">
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', <%= JSON.stringify(htmlWebpackPlugin.options.env.smartlook.key) %>);
    </script>
<% } %>

<% if (htmlWebpackPlugin.options.env.mouseflow) { %>
    <!-- Load Maouseflow -->
    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = <%= JSON.stringify(htmlWebpackPlugin.options.env.mouseflow.src) %>;
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
<% } %>
</body>
</html>